<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO List</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <nav>
      <h1>TODO List</h1>
      <a href="{{ url_for('index') }}">Tarefas</a>
      <a href="{{ url_for('add_task') }}">Adicionar Tarefa</a>
    </nav>
    <div class="container">
      {% with messages = get_flashed_messages(with_categories=True) %} {% if
      messages %} {% for category, message in messages %}
      <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %} {% endif %} {% endwith %} {%block content %}{% endblock %}
    </div>
  </body>
</html>
